.profile-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  margin-left: 20px;
}
@media screen and (max-width: 576px) {
  .profile-bg {
    margin-top: 20px;
  }
}
@media screen and (min-width: 576px) {
  .profile-bg {
    width: 330px;
  }
}
@media screen and (min-width: 767px) {
  .profile-bg {
    width: 350px;
  }
}
.profile-name {
  color: #6366f1;
  font-size: 25px;
}
.retry {
  background-color: #6366f1;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.retry-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
}
.no-bg {
  background-color: black;
}
