.login-background {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-background {
  width: 350px;
  border-radius: 10px;
  background-color: #b6c5ff;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.username {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background-color: inherit;
  border-color: white;
}
.name-text {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.image {
  height: 50px;
  width: 180px;
  align-self: center;
  margin-bottom: 10px;
}
.submit-btn {
  background-color: #6366f1;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  margin-top: 20px;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.error-message {
  color: red;
}
