.home-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  background-size: cover;
}

@media screen and (max-width: 576px) {
  .home-bg {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  }
}
.head {
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.content {
  width: 500px;
  margin-top: 50px;
  margin-left: 50px;
}
.para {
  color: #f1f5f9;
  font-size: 30px;
}
.find-jobs {
  background-color: #6366f1;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
}
