.nav-bar {
  background-color: #475569;
  padding: 10px;
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-img {
  height: 50px;
  width: 200px;
}
.link {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-right: 20px;
}

.log-out {
  background-color: #6366f1;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.list-home {
  list-style-type: none;
}
