.similar-card {
  background-color: gray;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 350px;
  color: white;
}
@media screen and (min-width: 767px) {
  .similar-card {
    width: 300px;
  }
}
@media screen and (min-width: 920px) {
  .similar-card {
    width: 400px;
  }
}

.logo-s {
  height: 80px;
  width: 80px;
  margin-right: 15px;
}
.s-s {
  display: flex;
  align-items: center;
}
.location-similar {
  display: flex;
  width: 250px;
  justify-content: space-around;
}
